:root{
    /* colors */
    --text-color : #fff;
    --bg-color : #333;
    --decore-bg-color : #919191;
    --main-bg-color : #202020;
    --opacity-bg-color : #20202099;
    --decore-text-color : #000;

    /* sizes */
    --max-width : 1200px;
    --header-height : 60px;
    --footer-height : 60px;
    --padding : 15px;
    --margin-centred : 0 auto;
    --font-size : 20px;
    --radius : 10px;
    --picture-size : 200px;
    --icon-size : 25px;

    /* transitions */
    --transition : 0.3s;

}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* styled body*/
body{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size);
}

.header, .main, .footer{
    max-width: calc(var(--max-width));
    margin: var(--margin-centred);
    padding: var(--padding);
    background-color: var(--bg-color);
}

/* header */
.header{
    background-color: var(--decore-bg-color);
    height: var(--header-height);
    color : var(--decore-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding);
}
.header>nav{
    width :100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header>nav>ul{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header>nav>ul>li{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header>nav>ul>li>a{
    padding: var(--padding);
    color: var(--decore-text-color);
    letter-spacing: 2px;
    font-size: var(--font-size);
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--transition);
    border-radius: var(--radius);
}

.header>nav>ul>li>a:hover{
    color: var(--text-color);
    background: var(--bg-color);
}

/* main */
.main{
    overflow: hidden;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    position: relative;
    background: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExd28xMW5za2pwcGFpbGdzMWIwa3Zrb3NvOHJuN3A4MXlveXVtaGI3bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ftfVpeWsm95QgGfOZ8/giphy.gif') no-repeat center center; 
    background-size: cover;
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto 40%;
    grid-template-areas: 
    "aside article" 
    "aside article"
    "aside section"
    ;
    grid-gap: var(--padding);
    padding: var(--padding);
}
.aside{
    grid-area: aside;
}
.aside>ul{
    padding: var(--padding);
}
.aside>ul>li{
    margin-bottom: var(--padding);
}

.aside>ul>li>a{
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: var(--font-size);
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--transition);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : var(--padding);
}
.aside>ul>li>a:hover{

    color: var(--decore-text-color);
    background: var(--bg-color);
}
.aside>ul>li img{
    width : var(--icon-size);
    height: var(--icon-size);
    margin-left : var(--padding);
}



/* article */
.article{
    grid-area: article;
    display: grid;
    grid-template-columns: var(--picture-size) auto;
    grid-template-rows: 50px var(--picture-size) auto;
    grid-template-areas: 
    "h h"
    "f u"
    "p p"
    ;
    grid-gap: var(--padding);
}
.article>h2{
    grid-area: h;
    text-align: center;
    width: 100%;
}
.article>figure{
    grid-area: f;
    position: relative;
    display: block;
    width : var(--picture-size);
    height: var(--picture-size);
}
.article *, section *, .aside * {
    border-radius: var(--radius);
    background: var(--opacity-bg-color);
}
.article>figure>img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius);
}
.article>figure>figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.article>p{
    grid-area: p;
    text-align: center;
    padding: var(--padding);

}
.article>ul{
    grid-area: u;
    padding: var(--padding);
}
.article>ul>li{
    margin-bottom: var(--padding);
}

/* section */
.section{
    grid-area: section;
}

.section>p, .section>h3{
    padding: var(--padding);
    margin-bottom: var(--padding);
}



/* article, section, aside */

.aside, .article, .section{
    background-color: var(--opacity-bg-color);
    color: var(--text-color);
    padding: var(--padding);
    border-radius: var(--radius);
}



/* footer */
.footer{
    background-color: var(--decore-bg-color);
    color : var(--decore-text-color);
    height: var(--footer-height);
}


